.logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url(https://picsum.photos/200);
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.container {
  padding: 50px 150px;
  text-align: justify;
}
